/* GESTION POLICE */ 
html { font-size: 1rem; }
.low-font { font-size: 0.8rem; }
#image_cv { width:30%; height:30%; }

@media (min-width: 576px) {
    html { font-size: 1.25rem; }
    #image_cv { width:40%; height:40%; }
    .low-font { font-size: 1rem; }
}

@media (min-width: 768px) {
    html { font-size: 1.5rem; }
    #image_cv { width:20%; height:20%; }
    .low-font { font-size: 0.8rem; }
}

@media (min-width: 992px) {
    html { font-size: 1.75rem; }
    #image_cv { width:30%; height:30%; }
    .low-font { font-size: 0.8rem; }
}

@media (min-width: 1200px) {
    html { font-size: 2rem; }
    #image_cv { width:20%; height:20%; }
    .low-font { font-size: 0.5rem; }
}

@media (min-width: 1500px) {
    html { font-size: 2rem; }
    #image_cv { width:10%; height:10%; }
    .low-font { font-size: 0.5rem; }
}

body { background: #e7e7e7; }
.bande_marron {
    position:fixed;
    width: 100%;
    height: 100%;
	border:1px solid #069;
	border-color:transparent #e84c0d transparent #e84c0d;
	border-width:1rem;
}
img.card-img-top {
    border: 1px solid black;
}